* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    background-color: #152238;
}

.header {
    padding: 60px;
    text-align: center;
    background: #212529;
    color: white;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    padding: 14px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    background-color: #697581;
    color: white;
    padding: 14px 20px;
    opacity: 90%;
}

body {
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: contents;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#videobackground {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}

main {
    color: white;
}

p {
    color: black;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #2b3035;
    padding: 14px 20px;
    margin: 0;
    text-align: center;
    flex-direction: row;
}

nav {
    position: sticky;
    top: 0;
}


@media screen and (max-width: 870px) {

    .row,
    .menu {
        flex-direction: column;
    }
}


.menu>li {
    white-space: nowrap;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.img {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.button {
    background-color: #343a40;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1%;
    border-radius: 15px;
    border: black;
}

.button:hover {
    opacity: 70%;
}

.produkty {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    background-color: #212529;
    flex-wrap: wrap;
}

.txt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex: 33.33%;
}

.item img {
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.button1 {
    display: flex;
    flex-direction: row;
}

select {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #2b3035;
    width: 155px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: #2b3035;
    color: white;
    min-height: 125px;
}

.skrt {
    text-decoration: line-through;
    color: white;
}

.cena {
    color: red;
    margin: 0;
}

.content {
    display: none;
}

#opt1:checked~.content1,
#opt2:checked~.content2,
#opt3:checked~.content3 {
    display: block;
}

select {
    display: block;
    margin-bottom: 10px;
    color: white;
}

.radio-options {
    display: none;
}

.color {
    background-color: #212529;
}

h3 {
    color: white;
}